<div class="container-fluid" id="tableContent">
  <div class="row">
    <div class="col-12 mb-5"></div>
    <div class="col-12 mb-3 d-none" id="dt_table">
      <table class="text-center table table-bordered table-sm table-hover table-striped w-100 nowrap" id="dt_info">
        <caption class="d-none text-center caption-top">
          <span>Informacion Datos</span>
        </caption>
        <thead class="table-success">
          <tr id="table_thead_tr" class="table_thead_tr">
            <th scope="col">Reemplazar</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
